<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Marca</th>
            <th scope="col">Stock</th>
            <th scope="col">Precio</th>
            <th scope="col">Eliminar</th>
        </tr>
    </thead>
    <tbody>  
        {{#each productos}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.nombre}}</td>
            <td>{{this.marca}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.precio}}</td>
            <td><button class="btn btn-danger eliminar" data-id="{{this.id}}">Eliminar</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>